.switcher-wrap {
    border: 1px solid white;
    background: #2075d6;
    border-radius: 3px;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.switcher-wrap:hover {
    background: #123f72;
}

.switcher-wrap > div {
    padding: 10px;
    cursor: pointer;
}